html,
body {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    height: 100%;
}

textarea{
    border: none;
    outline: none;
}

button{
    border: none;
}

a {
    text-decoration: none;
    color: #000;
}

*{
    box-sizing: border-box;
}

.van-dialog {
    width: var(--van-dialog-width) !important;
}